<!DOCTYPE html>
<html ng-app="app">
    <head>
        <link data-require="bootstrap@*" data-semver="3.3.5" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link data-require="bootstrap@*" data-semver="3.3.5" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/cosmo/bootstrap.min.css"/>
        <link data-require="bootstrap@*" data-semver="3.3.5" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
        <script data-require="bootstrap@*" data-semver="3.3.5"  src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"/></script>
        <script data-require="angular.js@*" data-semver="1.3.0-beta.5"  src="https://code.angularjs.org/1.3.0-beta.5/angular.js"/></script>
        <link rel="stylesheet" href="style.css"/>
        <script src="script.js"></script>
        <script src="application.js"></script>

    </head>

    <body ng-controller="MainController">
        <div class = jumbotron>
        <div class = "col text-center p-2 mb-3 bg-dark fs-3">
            <span><strong>Temperature Converter</strong></span>
        </div>

        <br><br>
        <form name="calc2" ng-submit="toFehr(number2)" class="text-center">
            <input type="number" step="any" required placeholder="Celsius" ng-model="number2"/>
            <input type="submit" value="Convert to Fahrenheit"/>
        </form>
            <strong><p class="text-center">= {{obj.hello2}} {{obj.fehr}}</p></strong>
    <br><br>
    <form name="calc" ng-submit="incrementLikes(likes)" class="text-center">
        <input type="number" step="any" required placeholder="Fahrenheit" ng-model="likes"/>
        <input type="submit" value="Convert to Celsius">
    </form>
         <strong><p class="text-center"> = {{obj.hello}} {{obj.cels}}</p></strong>
    </div>
    </body>
</html>
