th
{
    padding-left: 10px;
}

td
{
    padding-top:20px;
    padding-left:15px;
}


strong{
    font-size: 50px;
    color: black;
}
.jumbotron
{
    background: url(./temp.webp);
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    font-size: large;
    display: flex;
    color: rgba(14, 15, 6);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-repeat: no-repeat;
}